<!DOCTYPE html>
<html lang="en">
    <head>
        <title> PAGINA ALUMNO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="container mt-5">
            <button onclick="ruta()" class="btn btn-success">Registrar Ticket</button>
            <button onclick="cerrar()" class="btn btn-success">Cerrar Sesion</button>
            <div>
                <input type="text" class="form-control" id="input-search" placeholder="Consultar CURP o Nombre">
            </div>
            <div class="row"> 
                <div class="col-md-16">
                    <table class="table" >
                        <thead class="table-success table-striped" >
                            <tr>
                                <th>Turno</th>
                                <th>Municipio</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Curp</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody-info">
                            {% for dic in diccionario %}
                                <tr>
                                    <th>{{dic['id_turno']}}</th>
                                    <th>{{dic['municipio']}}</th>
                                    <th>{{dic['nombre']}}</th>
                                    <th>{{dic['paterno']}}</th> 
                                    <th>{{dic['curp']}}</th>     
                                    <th><input hidden type="text" class="btn btn-info" id="municipio" name="municipio" value="{{dic['municipio']}}"></th>
                                    <th><button onclick="municipio()" class="btn btn-info">Editar</button></th>
                                    <th><input hidden type="text" class="btn btn-info" id="turno" name="turno" value="{{dic['id_turno']}}"></th> 
                                    <th><button onclick="borrar()" class="btn btn-danger">Borrar</button></th>                                       
                                </tr>|  
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
        <script>
            function ruta()
            {
                window.location='http://localhost:5000/admin/ticket';
            }

            function municipio()
            {
                var info = document.getElementById('municipio');
                if (info.value != "")
                {
                    window.location='http://localhost:5000/admin/validar/'+info.value;
                }
            }

            function borrar()
            {
                var info = document.getElementById('turno');
                if (info.value != "")
                {
                    window.location='http://localhost:5000/admin/borrar/'+info.value;
                }
            }

            function cerrar()
            {
                window.location='http://localhost:5000/admin/cerrar';
            }

            document.getElementById('input-search').addEventListener('input',onInputChange);

            function onInputChange()
            {
                let inputtext = document.getElementById('input-search').value.toString().toLowerCase();
                let tablebody = document.getElementById('tbody-info');
                let tablerow  = tablebody.getElementsByTagName('tr');
                for(let i = 0; i < tablerow.length; i++)
                {
                    let textoconsulta = tablerow[i].cells[3].textContent.toString().toLowerCase();
                    if(textoconsulta.indexOf(inputtext) === -1)
                    {
                        tablerow[i].style.visibility = 'collapse';
                    }
                    else
                    {
                        tablerow[i].style.visibility = '';
                    }
                }
            }

        </script>
    </body>
</html>