<!DOCTYPE html>
<html lang="en">
    <head>
        <title> PAGINA ALUMNO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
        <script src="{{ url_for('static', filename='../js/jquery-3.6.1.min.js') }}"></script>
    </head>
    <body>
        <div class="container mt-5">
            <button onclick="ruta()" class="btn btn-success">Registrar Ticket</button>
            <button onclick="cerrar()" class="btn btn-success">Cerrar Sesion</button>
            <div>
                <input type="text" class="form-control" id="input-search" placeholder="Consultar CURP o Nombre">
            </div>
            <div class="row"> 
                <div class="col-md-16">
                    <table class="table" >
                        <thead class="table-success table-striped" >
                            <tr>
                                <th>Turno</th>
                                <th>Municipio</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Curp</th>
                                <th>Estatus</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody-info">
                            {% for dic in diccionario %}
                                <tr>
                                    <th>{{dic['id_turno']}}</th>
                                    <th>{{dic['municipio']}}</th>
                                    <th>{{dic['nombre']}}</th>
                                    <th>{{dic['paterno']}}</th> 
                                    <th>{{dic['curp']}}</th>     
                                    <th>{{dic['estatus']}}</th>   
                                    <th><input hidden type="text" class="btn btn-info" id="nombrecomp" name="municipio" value="{{dic['nombrecomp']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="curp" name="municipio" value="{{dic['curp']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="nombre" name="municipio" value="{{dic['nombre']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="paterno" name="municipio" value="{{dic['paterno']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="materno" name="municipio" value="{{dic['materno']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="telefono" name="municipio" value="{{dic['telefono']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="celular" name="municipio" value="{{dic['celular']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="correo" name="municipio" value="{{dic['correo']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="nivel" name="municipio" value="{{dic['nivel']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="municipio" name="municipio" value="{{dic['municipio']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="asunto" name="municipio" value="{{dic['asunto']}}"></th>
                                    <th><input hidden type="text" class="btn btn-info" id="estatus" name="municipio" value="{{dic['estatus']}}"></th>
                                    <th><button onclick="municipio()" class="btn btn-info">Editar</button></th>
                                    <th><input hidden type="text" class="btn btn-info" id="turno" name="turno" value="{{dic['id_turno']}}"></th> 
                                    <th><button onclick="borrar()" class="btn btn-danger">Borrar</button></th>      
                                    <th><button onclick="pdf()" class="btn btn-danger">PDF</button></th>                                 
                                </tr>|  
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
        <script>
            function ruta()
            {
                window.location='http://localhost:5000/admin/ticket';
            }

            function municipio()
            {
                var info = document.getElementById('municipio');
                if (info.value != "")
                {
                    window.location='http://localhost:5000/admin/validar/'+info.value;
                }
            }

            function borrar()
            {
                var info = document.getElementById('turno');
                if (info.value != "")
                {
                    window.location='http://localhost:5000/admin/borrar/'+info.value;
                }
            }

            function cerrar()
            {
                window.location='http://localhost:5000/admin/cerrar';
            }

            document.getElementById('input-search').addEventListener('input',onInputChange);

            function onInputChange()
            {
                let inputtext = document.getElementById('input-search').value.toString().toLowerCase();
                let tablebody = document.getElementById('tbody-info');
                let tablerow  = tablebody.getElementsByTagName('tr');
                for(let i = 0; i < tablerow.length; i++)
                {
                    let textoconsulta = tablerow[i].cells[3].textContent.toString().toLowerCase();
                    if(textoconsulta.indexOf(inputtext) === -1)
                    {
                        tablerow[i].style.visibility = 'collapse';
                    }
                    else
                    {
                        tablerow[i].style.visibility = '';
                    }
                }
            }

            function pdf()
            {
                window.jsPDF = window.jspdf.jsPDF;
                
                var completo = document.getElementById('nombrecomp').value;
                var curp = document.getElementById('curp').value;
                var nombre = document.getElementById('nombre').value;
                var paterno= document.getElementById('paterno').value;
                var materno = document.getElementById('materno').value;
                var telefono = document.getElementById('telefono').value;
                var celular = document.getElementById('celular').value;
                var correo = document.getElementById('correo').value;
                var nivel = document.getElementById('nivel').value;
                var municipio = document.getElementById('municipio').value;
                var asunto = document.getElementById('asunto').value;
                var estatus = document.getElementById('estatus').value;

                var doc = new jsPDF();

                doc.text(20, 20, 'ESTADO DEL TICKET');
                doc.text(20, 40, 'Estatus');
                doc.text(20, 60, 'Nombre Completo:');
                doc.text(20, 80, completo);
                doc.text(20, 100, 'CURP:');
                doc.text(20, 120, curp);
                doc.text(20, 140, 'Nombre:');
                doc.text(20, 160, nombre);
                doc.text(20, 180, 'Paterno:');
                doc.text(20, 200, paterno);
                doc.text(20, 220, 'Materno:');
                doc.text(20, 240, materno);
                doc.text(20, 260, 'Telefono:');
                doc.text(20, 280, telefono);
                doc.addPage();
                doc.text(20, 20, 'Celular:');
                doc.text(20, 40, celular);
                doc.text(20, 60, 'Correo:');
                doc.text(20, 80, correo);
                doc.text(20, 90, 'Nivel:');
                doc.text(20, 100, nivel);
                doc.text(20, 120, 'Municipio:');
                doc.text(20, 140, municipio);
                doc.text(20, 160, 'Asunto:');
                doc.text(20, 180, asunto);
                // Add new page
                //doc.addPage();
                //doc.text(20, 20, 'Visita programacion.net');
                // Save the PDF
                doc.save('documento.pdf');
            }

        </script>
    </body>
</html>